.welcome{
    margin-left: 3.2rem;
    color: white;
    font-family: 'Roboto';
    font-weight: 600;
    margin-top: 7px;
    font-size: 1.8rem;
    position: absolute;
    top: 52px;
}

.mt--7, .my--7 {
    margin-top: -8rem !important;
}

@media(max-width: 991px){
    .welcome{
        display: none;
    }
}

@media(max-width: 1199px){
    .welcome{
        display: none;
    }
}

@media (max-width: 991px){
    .pt-md-8, .py-md-8{
    padding-top: 6rem !important;}
}

@media (max-width: 767px){
    .pt-md-8, .py-md-8{
    padding-top: 3rem !important;}
}

@media (max-width: 1024px){
    .p-steps-title{
        font-family: 'Open Sans';
        color: #4ab89e !important;
        font-size: 0.8rem !important;
        margin: 8px !important;
    }
}

/* .mat-form-field {
    margin-top: 16px;
} */

.tabletitle{
    font-family: 'Open Sans', sans-serif;;
    font-weight: bold;
    color: #414148;
    margin-top: 3%;
    font-size: 1.2rem !important;
}


.p-button.p-button-icon-only.p-button-rounded {
    border-radius: 50%;
    height: 2.357rem;
    background-color: #24d292;
    border-color: #24d292;
}

.p-button:enabled:hover {
    background: #20b880;
    color: #ffffff;
    border-color: #20b880;
}

.p-button.p-button-icon-only {
    width: 2.357rem;
    padding: 0.5rem 0;
}

.encuestatitle{
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Open Sans';
    background: -webkit-linear-gradient(45deg, #65a5a6, #24d292 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .mat-form-field {
    margin-top: 16px;
} */

.tabletitle{
    font-family: 'Open Sans', sans-serif;;
    font-weight: bold;
    color: #414148;
    font-size: 17px;
}


.p-button.p-button-icon-only.p-button-rounded {
    border-radius: 50%;
    height: 2.357rem;
    background-color: #24d292;
    border-color: #24d292;
}

.p-button:enabled:hover {
    background: #20b880;
    color: #ffffff;
    border-color: #20b880;
}

.p-button.p-button-icon-only {
    width: 2.357rem;
    padding: 0.5rem 0;
}
/* 
.inputform{
    border: solid 1px #d3dce6 !important;
    height: 2rem !important;
    width: 80% !important;
}

.form-controlform {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: 0.12rem 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8898aa;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cad1d7;
    border-radius: 0.375rem;
    box-shadow: none;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
} */

.encuestasub{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 0.8rem;
    color: #8898aa;
    margin: 2rem;
    margin-left: 15%;
}

.grupobutton{

    margin: 2rem;
    margin-left: 15%;
}


.gruposubtitulo{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 0.7rem;
    text-align: center;
    margin: 0;
    margin-top: -1rem;
    color: #8898aa;
}

.encuestastitle{
    text-align: center;
    font-weight: 800;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: 'Open Sans';
    color: #8898aa;
    margin: 2rem;
}

.grupotitle{
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Open Sans';
    background: -webkit-linear-gradient(45deg, #9c73af, #24d292 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* 
.form-controlform {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: 0.12rem 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8898aa;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cad1d7;
    border-radius: 0.375rem;
    box-shadow: none;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
} */

.partestitle {
    color: #fff !important;
    background-image: linear-gradient(331deg, #24d292 0%, #6cbfe2 100%);
    padding: 0.5rem 1rem !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 0.8rem !important;
  }

.imgpartes{
    width: auto;
    height: 9rem;
}

.circulogrupo{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background: red;
}

/* .inputchecked{
    border: none !important;
    padding: 2% !important;
    margin: 5% !important;
    outline: none !important;
    font-family: 'Roboto' !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    letter-spacing: .2px !important;
    line-height: 20px !important;
    color: #202124 !important;
    width: 150% !important;
}
 */

/* 
.inputchecked:hover{
    border-bottom: 1px solid #b0adad !important;
}
 */

.p-eliminar {
    border-radius: 50%;
    margin-top: 10px;
    height: 2.357rem;
    background: transparent !important;
    color: #D32F2F !important;
    border-color: #D32F2F !important;
}
  
.p-eliminar:hover {
    background: #D32F2F !important;
    color: #fff !important;
    border-color: #D32F2F !important;
}

.circle{
    border-radius: 50%;
    background-color: gray;
    width: 10px;
    height: 10px;
    margin-top: 4vh !important;
}


.p-añadirpregunta {
    color: #fff !important;
    background: #24d292 !important;
    border: 1px solid #24d292 !important;
    padding: 0.5rem 1rem !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 0.8rem !important;
  
}
  
.p-añadirpregunta:hover{
    background: #0db376 !important;
    color: #fff !important;
    border-color: #0db376 !important;
  
}

.scrollhorizontal::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
    background-color: #F5F5F5 !important;
}
  
.scrollhorizontal::-webkit-scrollbar-track {
    background-color: #F5F5F5 !important;
    border-radius: 10px !important;    
}
  
.scrollhorizontal::-webkit-scrollbar-thumb {
    background-color: #555 !important;    /* color of the scroll thumb */
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
}

.inputform{
    border: solid 1px #d3dce6 !important;
    height: 2rem !important;
}

.form-controlform {
    text-transform: capitalize;
    outline: none;
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: 0.12rem 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8898aa;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cad1d7;
    border-radius: 0.375rem;
    box-shadow: none;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.iconbase{
    position: fixed;
    width: 49px;
    height: 49px;
    background-color: #1ed69c;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 21px;
}

.icontext{
    margin-top: 14px;
}

input:focus, textarea:focus, select:focus{
    outline: none !important;
}

*:focus {
    outline: 0 !important;
}
.form-control:focus {
    border-color: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}