<div class="d-flex">
  <div class="col-md-2">
    <div class="iconbase">
      <i class="icontext fas fa-user-plus"></i>
    </div>
  </div>
  <div class="col-md-8">
    <span class="tabletitle">Nuevo usuario</span>
    <div class="text-success">
      <i class="far fa-file-alt"></i>&nbsp; ADMINISTRADOR DE USUARIOS - NUEVO
      USUARIO
    </div>
  </div>
  <div class="col-md-2">
    <a
      class="pointer"
      style="font-size: 30px; color: black; margin-left: 2%"
      (click)="close(1)"
      ><i class="ni ni-fat-remove"></i
    ></a>
  </div>
</div>
<div class="row" style="margin-bottom: -2rem">
  <div class="col-md-12">
    <hr />
  </div>
</div>
<form [formGroup]="datos" (ngSubmit)="onSubmit()">
  <div
    class="col-md-12 scrollhorizontal"
    style="padding: 4% !important; max-height: 49vh; overflow-y: scroll"
  >
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="labeltitulo">Nombres</label>
          <input
            type="text"
            class="form-control inputform"
            formControlName="nombres"
            [ngClass]="{ 'is-invalid': submitted && f.nombres.errors }"
            placeholder="Nombre"
            required
          />
          <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
            <div *ngIf="f.nombres.errors.required">El nombre es requerido</div>
            <div *ngIf="f.nombres.errors.pattern">
              Solo puede colocar letras.
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="labeltitulo">Apellidos</label>
          <input
            type="text"
            class="form-control inputform"
            [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors }"
            formControlName="apellidos"
            placeholder="Apellido"
            required
          />
          <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
            <div *ngIf="f.apellidos.errors.required">
              El apellido es requerido
            </div>
            <div *ngIf="f.apellidos.errors.pattern">
              Solo puede colocar letras
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="labeltitulo">Documento</label>
          <input
            type="number"
            placeholder="Digite el documento"
            class="form-control inputform"
            [ngClass]="{ 'is-invalid': submitted && f.documento.errors }"
            formControlName="documento"
            required
          />
          <div *ngIf="submitted && f.documento.errors" class="invalid-feedback">
            <div *ngIf="f.documento.errors.required">
              El documento de identidad es requerido
            </div>
            <div *ngIf="f.documento.errors.maxlength">
              El documento no debe ser mayor a 10 digitos
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="labeltitulo">Teléfono</label>
          <input
            type="text"
            class="form-control inputform"
            mask="(000) 000-0000"
            [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }"
            formControlName="telefono"
            placeholder="(000) 000-0000"
            required
          />
          <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
            <div *ngIf="f.telefono.errors.required">El teléfono requerido</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="labeltitulo">Correo</label>
          <input
            type="text"
            class="form-control inputform"
            formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            placeholder="ejemplo@gmail.com"
            required
          />

          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">El correo es requerido</div>
            <div *ngIf="f.email.errors.email">
              Correo electrónico incorrecto
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-md-12">
      <button
        style="margin-left: 35%; margin-top: 4%"
        pButton
        label="Guardar"
        icon="pi pi-save"
        iconPos="right"
        class="p-volvergrupo"
      ></button>
    </div>
  </div>
</form>
<div class="row" style="margin-bottom: -2rem">
  <div class="col-md-12">
    <hr />
  </div>
</div>
