<div
  class="header pb-8 pt-5 pt-md-8"
  style="background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%)"
>
  <a class="welcome">¡Ten control de tus usuarios!</a>
  <div class="container-fluid marginbutton">
    <div class="header-body">
      <button
        class="btn btn-icon btn-3 btn-warning"
        type="button"
        (click)="nuevo()"
      >
        <span class="btn-inner--icon"><i class="fas fa-user-plus"></i></span>
        <span class="btn-inner--text">Nuevo Usuario</span>
      </button>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row" [@enterAnimation]>
    <div class="col" style="margin-bottom: 16px">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-md-4">
              <h3 class="tabletitle">Listado de usuarios</h3>
            </div>
          </div>
        </div>
        <div
          class="table-responsive scrollhorizontal"
          style="max-height: 32vh; overflow-y: scroll"
        >
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nombre Completo</th>
                <th scope="col">Documento</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Correo</th>
                <th scope="col">Registrar pago</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of usuarios">
                <td>
                  {{ item.nombres | uppercase }}
                  {{ item.apellidos | uppercase }}
                </td>
                <td>
                  {{ item.documento }}
                </td>
                <td>
                  {{ item.telefono }}
                </td>
                <td>
                  {{ item.email }}
                </td>

                <td>
                  <a class="icono-pagos pointer" (click)="openDialogPagos(item)"
                    ><i class="ni ni-money-coins"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4"></div>
      </div>
    </div>
  </div>
</div>
