.welcome{
    margin-left: 2.5rem;
    color: white;
    font-family: 'Roboto';
    font-weight: 600;
    margin-top: 7px;
    font-size: 1.8rem;
    position: absolute;
    top: 52px;
}


.mt--7, .my--7 {
    margin-top: -8rem !important;
}
.marginbutton{
    margin-bottom: 27px !important;
}

.scrollhorizontal::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
    background-color: #F5F5F5 !important;
}
  
.scrollhorizontal::-webkit-scrollbar-track {
    background-color: #F5F5F5 !important;
    border-radius: 10px !important;    
}
  
.scrollhorizontal::-webkit-scrollbar-thumb {
    background-color: #555 !important;    /* color of the scroll thumb */
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
}

@media(max-width: 1024px) and (max-height: 1366px){
    .marginbutton{
        margin-bottom: 27px !important; margin-top: -2rem !important;
    }
}

@media(max-width: 1024px) and (max-height: 800px){
    .marginbutton{
        margin-bottom: 27px !important; margin-top: -2rem !important;
    }
}

@media(max-width: 768px) and (max-height: 1024px){
    .marginbutton{
        margin-bottom: 27px !important; margin-top: 2rem !important;
    }
}


@media(max-width: 991px){
    .welcome{
        display: none;
    }
}

@media(max-width: 1199px){
    .welcome{
        display: none;
    }
}

@media (max-width: 991px){
    .pt-md-8, .py-md-8{
    padding-top: 6rem !important;}
}

@media (max-width: 767px){
    .pt-md-8, .py-md-8{
    padding-top: 3rem !important;}
}

@media (max-width: 1024px){
    .p-steps-title{
        font-family: 'Open Sans';
        color: #4ab89e !important;
        font-size: 0.8rem !important;
        margin: 8px !important;
    }
}

.mat-form-field {
    margin-top: 16px;
}

.tabletitle{
    font-family: 'Open Sans', sans-serif;;
    font-weight: bold;
    color: #414148;
    font-size: 17px;
}


.p-button.p-button-icon-only.p-button-rounded {
    border-radius: 50% !important;
    height: 2.357rem !important;
    background-color: #24d292 !important;
    border-color: #24d292 !important;
}

.p-button:enabled:hover {
    background: #20b880;
    color: #ffffff;
    border-color: #20b880;
}

.p-button.p-button-icon-only {
    width: 2.357rem;
    padding: 0.5rem 0;
}


.encuestasub{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 0.8rem;
    color: #8898aa;
    margin: 2rem;
    margin-left: 15%;
}

.encuestastitle{
    text-align: center;
    font-weight: 800;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: 'Open Sans';
    color: #8898aa;
    margin: 2rem;
}

.encuestatitle{
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Open Sans';
    background: -webkit-linear-gradient(45deg, #9c73af, #24d292 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inputform{
    border: solid 1px #d3dce6 !important;
    height: 2rem !important;
}

.form-controlform {
    outline: none;
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: 0.12rem 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8898aa;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cad1d7;
    border-radius: 0.375rem;
    box-shadow: none;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input:focus, textarea:focus, select:focus{
    outline: none !important;
}
  

*:focus {
    outline: 0 !important;
}
.form-control:focus {
    border-color: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  .icono-pagos{
    font-size: 20px;
    color:#20b880;
    margin-left: 17%;
  }

  