<div class="header pb-8 pt-5 pt-md-8" style="background-image:  linear-gradient(120deg, #f6d365 0%, #fda085 100%);">
  <a class="welcome">PAGOS REALIZADOS POR USUARIOS</a>
</div>
<div class="container-fluid mt--7">
  <div class="row" [@enterAnimation]>
    <div class="col" style="margin-bottom: 16px;">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-md-4">
              <h3 class="tabletitle">Listado de pagos</h3>
            </div>
            <div class="col-md-3"> 
              <label class="labeltitulo" style="margin-bottom: 1px !important;">Filtro</label>
              <input type="text" placeholder="Buscar por documento" [(ngModel)]="documento" class="form-control inputform">

            </div>
            <div class="col-md-1 mt-3"> 
              <button class="btn btn-icon btn-2 btn-warning btn-sm" (click)="filterPagos()" type="button">
                <span class="btn-inner--icon"><i class="fas fa-search-dollar" style="font-size: 20px;"></i></span>
              </button>
            </div>
          </div>
        </div>
        <div class="table-responsive scrollhorizontal" style="max-height: 32vh; overflow-y: scroll">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Usuario</th>
                <th scope="col">Tipo de pago</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of pagos">
                <td>
                  {{item.fecha}}
                </td>
                <td>
                  {{item.nombres | uppercase}} {{item.apellidos | uppercase}}

                </td>
                <td>
                  {{item.tipo_pago | uppercase}}
                </td>
                <td>
                  <a *ngIf="item.estado==1" class="icono-pagos pointer" (click)="desactivar(item)"><i class="ni ni-fat-remove"></i></a>
                </td>
                
              </tr>
             
            </tbody>
          </table>
      
        </div>
      </div>
    </div>
  </div>
</div>