<div class="imgback animated fadeIn">
  <div
    class="container"
    style="width: 60%; border-radius: 10px; position: relative; top: 8%"
  >
    <div class="row">
      <div class="col-md-4 login-sec">
        <div class="text-center">
          <img
            src="assets/img/brand/red.png"
            style="width: 250px; margin-bottom: 10%"
          />
        </div>
        <form class="login-form" [formGroup]="datos">
          <div class="form-group" style="text-align: center; margin: 0px">
            <input
              class="form-control"
              placeholder="Usuario"
              formControlName="usuario"
              type="email"
            />
          </div>

          <div class="form-group mt-4" style="text-align: center">
            <input
              class="form-control"
              placeholder="contraseña"
              formControlName="password"
              type="password"
            />
          </div>

          <div class="row mt-5">
            <div class="col-md-6">
              <div class="form-check">
                <label class="form-check-label"> </label>
              </div>
            </div>
            <div class="col-md-6">
              <button
                class="btn btn-warning btn-lg animation-on-hover ingresar"
                (click)="login()"
              >
                Ingresar
              </button>
            </div>
          </div>
        </form>

        <div class="copy-text">
          Creado con <i class="fa fa-heart"></i> por Danna Pedraza
        </div>
      </div>
      <div class="col-md-8 banner-sec">
        <div class="banner-text">
          <h2>Club de Ciclomontañismo</h2>
          <p>
            El aplicativo que facilita el control de los pagos de membresías,
            tanto a socios, como a administradores.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
