@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
    background: #f5f5f5;  /* fallback for old browsers */
//background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
//background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
height: 100%;
padding : 50px 0;
}
.banner-sec{background:url('../../../assets/img/brand/login_photo.jpg')  no-repeat left bottom; background-size:cover; min-height:500px; padding:0; background-position: right;}
.container{background:#fff; border-radius: 10px; box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#00695c;}
.login-sec .copy-text a{color:#00695c;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #00695c;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#00695c; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #00695c; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}
.label-container{left: 5%;text-align: center;position: relative;}
.form-check-label{left: -13%; position: relative; font-size: 12px}
.ingresar{font-size: 10px;width: 100%;text-align: center;align-items: center;padding: 10px;}

.iniciosesion{
    font-family: 'Roboto' !important;
    font-size: 2rem !important;
    font-weight: 800 !important;
    color: black !important;
}

.inputlogin{
    width: 25rem;
    height: 2rem;
    font-size: 1.1rem;
    padding: 17px;
    padding-left: 28px;
    color: #838383;
    font-family: "Roboto";
    font-weight: 300;
    outline: none;
    border-radius: 8px;
    border: 2px solid #a9a8a8;
}

.inputlogin::placeholder{
    color: #969696c4;
}

.forgot{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 300;
    color: black;
}

.buttonlogin{
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1rem;
    background: #7ab8b1;
    border: 1px solid #7ab8b1;
    padding: 8px;
    border-radius: 27px;
    width: 7rem;
    outline: none;
}

.buttonlogin:hover{
    background: #42ab9f;
}

.contactofooter{
    color: #838383;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1rem;
}

.imgback{
    place-content: center !important; 
    height: 100vh !important; 
    width: 100% !important; 
    // background-image: url('../../../assets/img/brand/loginbackground.png') !important;  
    background-position: bottom !important; 
    background-size: cover !important; 
    background-repeat: no-repeat !important; 
    overflow-y: hidden !important;
}

.boxlogin1{
    margin-top: 15%; margin-left: 18%;
}

.contacto1{
    height: auto !important;
    width: 45% !important;
    margin-left: 29% !important; 
    margin-top: 18vh !important;    
    text-align: center !important;
}

.contacto2{
    height: auto !important; 
    width: 45% !important;
    margin-left: 28% !important; 
    text-align: center !important;
}
.caja{
    padding: 0 !important;
}

.margin1{
    margin-top: 1% !important; margin-left:1% !important;
}

.margin2{
    margin-top: 5px !important;
}
@media(max-width: 1920px){
    .margin1{
        margin-top: 1% !important; margin-left:0% !important;
    }
    
    .margin2{
        margin-top: 5px !important;
        margin-left: -7rem !important;
    }

    .contacto1{
        height: auto !important;
        width: 30% !important;
        margin-left: 34% !important;
        margin-top: 26vh !important;
        text-align: center !important;
    }
    
    .contacto2{
        height: auto !important;
        width: 35% !important;
        margin-left: 31% !important;
        text-align: center !important;
    }
}

@media(max-width: 1366px){
    .margin2{
        margin-left: 0rem !important;
    }

    .contacto1{
        height: auto !important;
        width: 39% !important;
        margin-left: 34% !important;
        margin-top: 17vh !important;
        text-align: center !important;
    }

    .contacto2{
        height: auto !important;
        width: 41% !important;
        margin-left: 32% !important;
        text-align: center !important;
    }
}


@media(max-width: 1366px) and (max-height: 1024px){
    .margin2{
        margin-left: -7rem !important;
    }

    .imgback{
        place-content: center !important; 
        height: 100vh !important; 
        width: 100% !important; 
        // background-image: url('../../../assets/img/brand/loginbackgroundtabletpro.png') !important;  
        background-position: bottom !important; 
        background-size: cover !important; 
        background-repeat: no-repeat !important; 
        overflow-y: hidden !important;
    }

    .contacto1{
        height: auto !important;
        width: 39% !important;
        margin-left: 34% !important;
        margin-top: 17vh !important;
        text-align: center !important;
    }

    .contacto2{
        height: auto !important;
        width: 41% !important;
        margin-left: 32% !important;
        text-align: center !important;
    }

    .boxlogin1{
        margin-top: 29% !important;
        margin-left: 11% !important;
    }
}
 
@media(max-width: 1366px) and (max-height: 768px){
    .margin2{
        margin-left: 0rem !important;
    }

    .imgback{
        place-content: center !important; 
        height: 100vh !important; 
        width: 100% !important; 
        // background-image: url('../../../assets/img/brand/loginbackground.png') !important;  
        background-position: bottom !important; 
        background-size: cover !important; 
        background-repeat: no-repeat !important; 
        overflow-y: hidden !important;
    }

    .contacto1{
        height: auto !important;
        width: 39% !important;
        margin-left: 34% !important;
        margin-top: 17vh !important;
        text-align: center !important;
    }

    .contacto2{
        height: auto !important;
        width: 41% !important;
        margin-left: 32% !important;
        text-align: center !important;
    }

    .boxlogin1{
        margin-top: 16% !important;
        margin-left: 11% !important;
    }
}


@media(max-width: 1025px) and (max-height: 1366px){

    .imgback{
        place-content: center !important; 
        height: 100vh !important; 
        width: 100% !important; 
        // background-image: url('../../../assets/img/brand/loginbackgroundmovil1.png') !important;  
        background-position: bottom !important; 
        background-size: cover !important; 
        background-repeat: no-repeat !important; 
        overflow-y: hidden !important;
    }

    .margin2{
        margin-left: 0rem !important;
        margin-top: 0rem !important;
    }

    .contacto1{
        height: auto !important;
        width: 48% !important;
        margin-left: 30% !important;
        margin-top: 28vh !important;
        text-align: center !important;
    }

    .contacto2{
        height: auto !important;
        width: 68% !important;
        margin-left: 17% !important;
        text-align: center !important;
    }
    
    .boxlogin1{
        margin-top: 52% !important;
        margin-left: 18% !important;
    }
}

@media(max-width: 1024px)  and (max-height: 768px){

    .imgback{
        place-content: center !important; 
        height: 100vh !important; 
        width: 100% !important; 
        // background-image: url('../../../assets/img/brand/loginbackgroundtablet.png') !important;  
        background-position: bottom !important; 
        background-size: cover !important; 
        background-repeat: no-repeat !important; 
        overflow-y: hidden !important;
    }

    

    .margin2{
        margin-left: 1rem !important;
    }

    .contacto1{
        height: auto !important;
        width: 48% !important;
        margin-left: 30% !important;
        margin-top: 14vh !important;
        text-align: center !important;
    }

    .contacto2{
        height: auto !important;
        width: 54% !important;
        margin-left: 26% !important;
        text-align: center !important;
    }

    .boxlogin1{
        margin-top: 25% !important;
        margin-left: 18% !important;
    }
}

@media (max-width: 812px) and (max-height: 375px){

    .imgback{
        place-content: center !important; 
        height: 100vh !important; 
        width: 100% !important; 
        // background-image: url('../../../assets/img/brand/loginbackgroundtablet.png') !important;  
        background-position: bottom !important; 
        background-size: cover !important; 
        background-repeat: no-repeat !important; 
        overflow-y: hidden !important;
    }


    .margin2{
        margin-left: 5rem !important;
    }

    .contacto1{
        height: auto !important;
        width: 59% !important;
        margin-left: 25% !important;
        margin-top: 7vh !important;
        text-align: center !important;
    }

    .contacto2{
        height: auto !important;
        width: 68% !important;
        margin-left: 19% !important;
        text-align: center !important;
    }

    .boxlogin1{
        margin-top: 3% !important;
        margin-left: 18% !important;
    }
}

@media(max-width: 768px) and (max-height: 1024px){

    .imgback{
        place-content: center !important; 
        height: 100vh !important; 
        width: 100% !important; 
        // background-image: url('../../../assets/img/brand/loginbackgroundmovil1.png') !important;  
        background-position: bottom !important; 
        background-size: cover !important; 
        background-repeat: no-repeat !important; 
        overflow-y: hidden !important;
    }

    .margin2{
        margin-left: 5rem !important;
        margin-top: 0rem !important;
    }

    .contacto1{
        height: auto !important;
        width: 63% !important;
        margin-left: 20% !important;
        margin-top: 22vh !important;
        text-align: center !important;
    }

    .contacto2{
        height: auto !important;
        width: 68% !important;
        margin-left: 17% !important;
        text-align: center !important;
    }
    
    .boxlogin1{
        margin-top: 48%;
        margin-left: 18%;
    }
}

@media(max-width: 767px){

    .imgback{
        place-content: center !important; 
        height: 100vh !important; 
        width: 100% !important; 
        // background-image: url('../../../assets/img/brand/loginbackgroundmovil1.png') !important;  
        background-position: bottom !important; 
        background-size: cover !important; 
        background-repeat: no-repeat !important; 
        overflow-y: hidden !important;
    }

    .margin2{
        margin-left: 18rem !important;
        margin-top: -2rem !important;
    }

    .contacto1{
        height: auto !important;
        width: 63% !important;
        margin-left: 20% !important;
        margin-top: 22vh !important;
        text-align: center !important;
    }

    .contacto2{
        height: auto !important;
        width: 68% !important;
        margin-left: 17% !important;
        text-align: center !important;
    }
    
    .boxlogin1{
        margin-top: 48%;
        margin-left: 18%;
    }
}


@media(max-width: 375px){

    .imgback{
        place-content: center !important; 
        height: 100vh !important; 
        width: 100% !important; 
        // background-image: url('../../../assets/img/brand/loginbackgroundmovil.png') !important;  
        background-position: bottom !important; 
        background-size: cover !important; 
        background-repeat: no-repeat !important; 
        overflow-y: hidden !important;
    }

    .boxlogin1{
        margin-top: 74% !important;
        margin-left: 2% !important;
    }

    .inputlogin{
        width: 21rem;
        height: 2rem;
        font-size: 1.1rem;
        padding: 17px;
        padding-left: 28px;
        color: #838383;
        font-family: "Roboto";
        font-weight: 300;
        outline: none;
        border-radius: 8px;
        border: 2px solid #a9a8a8;
    }

    .contacto1{
        height: auto !important;
        width: 97% !important;
        margin-left: 3% !important;
        margin-top: 23vh !important;
        text-align: center !important;
    }

    .contacto2{
        height: auto !important;
        width: 92% !important;
        margin-left: 4% !important;
        text-align: center !important;
    }

    .margin2{
        margin-left: 15rem !important;
      margin-top: -7% !important;
    }
}




