
<div class="d-flex">
    <div class="col-md-2">
      <div class="iconbase">
        <i  class="icontext fas fa-user-plus"></i>
      </div>
    </div>
    <div class="col-md-8">
      <span class="tabletitle">Nuevo pago</span>
      <div  class="text-success">
        <i class="far fa-file-alt"></i>&nbsp;
        PAGOS POR USUARIO - NUEVO PAGO
      </div>
    </div>
    <div class="col-md-2">
      <a class="pointer" style="font-size: 30px; color: black; margin-left: 2%;" (click)="close(1)" ><i class="ni ni-fat-remove"></i></a>

    </div>
  </div>
  <div class="row" style="margin-bottom: -2rem;">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
    <form [formGroup]="datos">
      <div class="col-md-12 scrollhorizontal" style="padding: 4% !important; max-height: 49vh; overflow-y: scroll;">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="labeltitulo">Fecha de realización</label>
              <input type="text" class="form-control inputform" formControlName="fecha"  disabled>
            </div>
          </div>
  
          <div class="col-md-6">
            <div class="form-group">
              <label class="labeltitulo">Tipo de pago</label>
              <mat-select class="select" formControlName="tipopago">
                <mat-option *ngFor="let item of tipo_pago" [value]="item.nombre">
                  {{item.nombre}}
                </mat-option>
              </mat-select>
              <!-- <input type="text" class="form-control inputform" formControlName="tipopago" placeholder="Apellido" required> -->
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label class="labeltitulo">Descipción</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="descripcion" rows="3" placeholder="Digite un breve resumen del pago ..."></textarea>

            </div>
          </div>
        </div>
      </div>
    </form>
  <div class="row" style="margin-bottom: -2rem;">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-md-12">
      <button style="margin-left: 35%; margin-top: 4%;"   (click)="crear()" pButton label="Guardar" icon="pi pi-save" iconPos="right"
        class="p-volvergrupo"></button>
    </div>
  </div>
