/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: "Roboto", "Helvetica Neue", sans-serif; 
}
/* .mat-form-field-underline{
  display: none !important;
}
.mat-form-field-flex{
  border-radius: 14px !important;
  background-color: #ecf0f6 !important;
} */

body::-webkit-scrollbar {
  width: 8px !important;
  background-color: #F5F5F5 !important;
}

body::-webkit-scrollbar-track {
  background-color: #F5F5F5 !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
  border-radius: 10px !important;    
}

body::-webkit-scrollbar-thumb {
  background-color: #555 !important;    /* color of the scroll thumb */
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
}

.table thead th {
  padding-top: 0.75rem;
  background: #f6f9fc !important;
  padding-bottom: 0.75rem;
  font-size: 0.65rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid #e9ecef;
  font-weight: 600 !important;
  color: #8898aa !important;
}

table{
  margin-bottom: 0 !important;
}

.table-flush tbody {
  border-top: 0;
  font-weight: 500 !important;
  color: #2c2828 !important;
}
.scroll::-webkit-scrollbar {
  width: 8px !important;
  background-color: #F5F5F5 !important;
}

.scroll::-webkit-scrollbar-track {
  background-color: #F5F5F5 !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
  border-radius: 10px !important;    
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #555 !important;    /* color of the scroll thumb */
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
}

.p-steps-item{
  background-color: #f8f7fa !important;
}


.p-steps-number{
  background-color: #23cd8f !important;
  color: white !important;
  font-family: 'Open Sans';
  font-weight: 600;
}

.p-menuitem-link{
  background-color: #f8f7fa !important;
}

@media (max-width: 1024px){
  .p-steps-title{
      font-family: 'Open Sans';
      color: #4ab89e !important;
      font-size: 0.8rem !important;
      margin: 8px !important;
  }
}

.p-steps-title{
  font-family: 'Open Sans';
  color: #4ab89e !important;
}

.p-steps .p-steps-item:before {
  content: " ";
  border-top: 9px solid #ebe8f1 !important;
  width: 100%;
  top: 50%;
  left: 0;
  display: block;
  position: absolute;
  margin-top: -1rem;
}

.p-steps{
  margin-top: 14px !important;
  margin-bottom: 14px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* .mat-step-header .mat-step-icon-selected {
  background-color: #24d292 !important;
  color: #fff !important;
}

.mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
  top: -18px !important;
}

.mat-step-icon-content {
  position: absolute;
  font-weight: 500 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-step-icon-state-edit{
  background-color: #1b9266 !important;
  color: #fff;
}

.mat-horizontal-stepper-header-container {
  background-color: #f8f7fa !important;
  white-space: nowrap !important;
  display: flex !important;
  align-items: center !important;
}  */

.mat-horizontal-stepper-header-container{
  background: #f8f7fa !important;
}

.mat-step-header .mat-step-icon-selected{
  background-color: #24d292 !important;
  color: #fff;
}

.mat-step-icon-state-edit{
  background-color: #0ba56c !important;
  color: #fff;
}

.mat-horizontal-content-container {
  overflow: hidden !important;
  padding: 0 !important;
}

.pointer{
  cursor: pointer;
}
/* .mat-form-field-flex{
  border: solid 1px #e4e9f2 !important;
  background: #f7f9fc !important;
  height: 7.6vh;
} */

/* .mat-form-field-appearance-legacy .mat-form-field-infix{
  padding: 5px;
  margin-right: 10px;
  margin-left: 10px;
} */

.mat-step-icon-content, .mat-step-icon .mat-icon {
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-volver {
  color: #ffffff !important;
  background: #5e72e4 !important;
  border: 1px solid #5e72e4 !important;
  padding: 0.5rem 1rem !important;
  font-size: 1rem !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 3px;
}

.p-volver:hover{
  background: #4b5ecc !important;
  color: #ffffff !important;
  border-color: #4b5ecc !important;
}


.p-siguiente {
  color: #ffffff !important;
  background: #24d292 !important;
  border: 1px solid #24d292 !important;
  padding: 0.5rem 1rem !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 0.8rem !important;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.p-siguiente:hover{
  background: #37ae82 !important;
  color: #ffffff !important;
  border-color: #37ae82 !important;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}


.p-enviar {
  color: #24d292 !important;
  background: #fff !important;
  border: 1px solid #24d292 !important;
  padding: 0.5rem 1rem !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 0.8rem !important;

}

.p-enviar:hover{
  background: #24d292 !important;
  color: #ffffff !important;
  border-color: #24d292 !important;

}

.p-grupo {
  color: #24d292 !important;
  background: #fff !important;
  border: 1px solid #24d292 !important;
  padding: 0.5rem 1rem !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 0.8rem !important;

}

.p-grupo:hover{
  background: #24d292 !important;
  color: #ffffff !important;
  border-color: #24d292 !important;

}

.p-graficos {
  color: #fff !important;
  background: #24d292 !important;
  border: 1px solid #24d292 !important;
  padding: 0.5rem 1rem !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 0.8rem !important;

}

.p-graficos:hover{
  background: #fff !important;
  color: #24d292 !important;
  border-color: #24d292 !important;

}

.p-atras {
  color: #fff !important;
  background: #24a9d2 !important;
  border: 1px solid #24a9d2 !important;
  padding: 0.5rem 1rem !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 0.8rem !important;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);

}

.p-atras:hover{
  background: #2085a3 !important;
  color: #ffffff !important;
  border-color: #2085a3 !important;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);

}

.labeltitulo{
  color: #8898aa !important;
  font-size: 0.8rem !important;
  font-family: 'Open Sans' !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}

.partesdiv {
  color: #fff !important;
  background: #d8dee5 !important;
  border: 1px solid #d8dee5 !important;
  padding: 0.5rem 1rem !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 0.8rem !important;
  cursor: pointer;
  text-align: center;
}

.partesdivhover {
  color: #fff !important;
  background: #8ca4be !important;
  border: 1px solid #8ca4be !important;
  padding: 0.5rem 1rem !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 0.8rem !important;
  cursor: pointer;
  text-align: center;
}

.p-volvergrupo {
  color: #fff !important;
  background: #24d292 !important;
  border: 1px solid #24d292 !important;
  padding: 0.5rem 1rem !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 0.8rem !important;

}

.p-volvergrupo:hover{
  background: #24b881 !important;
  color: #ffffff !important;
  border-color: #24b881 !important;

}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0px !important;
  
}


.mat-form-field-appearance-legacy .mat-form-field-infix:hover {
  border-bottom: solid 1px #c3bdbd !important;
}

.mat-form-field-flex {
  display: inline-flex !important;
  align-items: baseline !important;
  box-sizing: border-box !important;
  width: 150% !important;
}

.mat-form-field-ripple {
  background-color: #2cb78b !important;
  width: 150% !important;
}

.mat-dialog-container {
  display: block;
  background-image: linear-gradient(
    181deg
    , #fdfbfb 0%, #eef0f1 100%) !important;
  padding: 24px;
  box-sizing: border-box;
  overflow: hidden !important;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
  border-radius: 2rem !important;
}

input:focus, textarea:focus, select:focus{
  outline: none !important;
}

*:focus {
  outline: 0 !important;
}
.form-control:focus {
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

button:focus{
  outline: none !important;
}

button:focus{
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-label {
  padding: 16px 0 0 0 !important;
  text-align: center !important;
  width: auto !important;
}