<div class="header pb-8 pt-5 pt-md-8" style="background-image:  linear-gradient(120deg, #f6d365 0%, #fda085 100%);">
  <a class="welcome">¡HOLA, TE DAMOS LA BIENVENIDA!, {{usuario.nombres | uppercase}}</a>
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>
<div class="container-fluid mt--7" [@enterAnimation]>
  <div class="row" style="margin-bottom: 16px;">
    <div class="col-md-6">
      <div class="card">
        <div class="card-side front">
          <div></div>
        </div>
        <div class="card-side back">
          <div></div>
        </div>
      </div>
    </div>
    <div class="col-md-6 infovariada">
      <div class="col-md-12">
        <div class="cardhover" style="margin: 1rem">
          <img src="assets/img/theme/dashboard.jpg"/>
          <h3 class="titlecard">MTB Pelicano</h3>
          <div class="focus-content">
            <p>Información de pago de membresías.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="cardhover" style="margin: 1rem">
          <img src="assets/img/theme/dashboard2.jpg"/>
          <h3 class="titlecard">Tu aplicativo de control</h3>
          <div class="focus-content">
            <p>MTB Pelicano es un aplicativo de uso intuitivo y de fácil acceso.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
