.welcome{
    margin-left: 2.5rem;
    color: white;
    font-family: 'Roboto';
    font-weight: 600;
    margin-top: 7px;
    font-size: 1.8rem;
    position: absolute;
    top: 52px;
}

.mt--7, .my--7 {
    margin-top: -8rem !important;
}

@media(max-width: 991px){
    .welcome{
        display: none;
    }
}

@media (max-width: 991px){
    .pt-md-8, .py-md-8{
    padding-top: 6rem !important;}
}

@media (max-width: 767px){
    .pt-md-8, .py-md-8{
    padding-top: 3rem !important;}
}

.tabletitle{
    font-family: 'Open Sans', sans-serif;;
    font-weight: bold;
    color: #414148;
    margin-top: 6%;
    font-size: 17px;
}

.selectcolibri{
    border-radius: 21px;
} 


.inputform{
    border: solid 1px #d3dce6 !important;
    height: 2rem !important;
}



.card {
    perspective: 150rem;
    position: relative;
    height: 24rem;
    box-shadow: none;
    border: 1px solid transparent;
    background: none;
}

.card-side {
    height: 28rem;
    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    padding:2rem;
    color: white
}

.card-side.back {
    transform: rotateY(-180deg);
    background-color: #4158D0;
    background: url('../../../assets/img/theme/1_Mockupgrande.jpg');
}

.card-side.front {
    background-color: #0093E9;
    background:url('../../../assets/img/theme/2_Mockupgrande.png');
}

.card:hover .card-side.front {
    transform: rotateY(180deg);
}

.card:hover .card-side.back {
    transform: rotateY(0deg);
}



.cardhover {
    width: 300px;
    height: 197px;
    padding: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    background: #f8f9fe;
}

.cardhover * {
    transition: 0.3s ease all;
}

.cardhover img {
    margin: 0;
    width: 300px;
    height: 147px;
    object-fit: cover;
    display: block;
}

.cardhover h3 {
    margin: 0;
    padding: 12px 12px 48px;
    line-height: 32px;
    font-family: 'Roboto';
    font-size: 1.1rem;
    background: #f8f9fe;
    font-weight: 600;
}

.cardhover .focus-content {
    display: block;
    padding: 8px 12px;
}

.cardhover p {
    margin: 0;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

.cardhover:hover img, .cardhover:focus-within img {
    margin-top: -80px;
}

.cardhover:hover h3, .cardhover:focus-within h3 {
    padding: 8px 12px 0;
}

.titlecard{
    font-weight: 700;
    font-family: 'Roboto';
    font-size: 1.1rem;
    color: #4c4152;
    background: #f8f9fe;
}

@media(max-width: 768px) and (max-height: 1024px){
    .infovariada{
        margin-left: -4rem;
    }

    .cardhover {
        width: 241px;
        height: 197px;
        padding: 0;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
        border-radius: 8px;
        box-sizing: border-box;
        overflow: hidden;
        background: #f8f9fe;
    }

    .cardhover img {
        margin: 0;
        width: 241px;
        height: 147px;
        object-fit: cover;
        display: block;
    }
}

@media(max-width: 375px) and (max-height: 812px){

    .card{
        perspective: 150rem;
        position: relative;
        height: 14rem;
        box-shadow: none;
        border: 1px solid transparent;
        background: none;
    }

    .card-side{
        height: 13rem;
        border-radius: 15px;
        transition: all 0.8s ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2rem;
        color: white;
    }

    .infovariada{
        margin-left: 1rem;
    }
}

@media(max-width: 812px) and (max-height: 375px){

    .card-side{
        height: 16rem;
        border-radius: 15px;
        transition: all 0.8s ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2rem;
        color: white;
    }

    .cardhover img{
        margin: 0;
        width: 193px;
        height: 90px;
        -o-object-fit: cover;
        object-fit: cover;
        display: block;
    }

    .infovariada{
        margin-top: -1rem;
        margin-left: -1rem;
    }
    .cardhover {
        width: 193px;
        height: 164px;
        padding: 0;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
        border-radius: 8px;
        box-sizing: border-box;
        overflow: hidden;
        background: #f8f9fe;
    }
}